[submodule "zsh/.config/zsh/plugins/zsh-vi-mode"]
	path = zsh/.config/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/powerlevel10k"]
	path = zsh/.config/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/tmux-power"]
	path = tmux/tmux-power
	url = https://github.com/wfxr/tmux-power.git
